@charset "UTF-8";
@import "../../asset/css/var.scss";
@import "../../asset/css/iconfont.wxss";
@import "../../asset/css/resetnative.wxss";

/**index.wxss**/
.bg {
	height: 100vh;
	/* background-repeat: no-repeat;
  background-size: cover; */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.blue {
	background-color: cyan;
}

.pink {
	background-color: pink;
}

.container {
	height: 100vh;
	overflow: hidden;
	background-color: skyblue;
}

.userinfo {
	height: 80rpx;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 32rpx;

	.userinfo-avatar {
		width: 72rpx;
		height: 72rpx;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 20rpx;
	}
}

.container {}

.general {
	height: 360rpx;
	width: 100%;
	left: -1rpx;
	position: relative;
	border: 1rpx solid #000;
	border-radius: 8rpx;
	margin-bottom: 20rpx;

	.city-general {
		height: 100%;
		padding-top: 16rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.add-user-citys {
		position: absolute;
		bottom: 12rpx;
		left: 4rpx;
		font-size: 40rpx;
		border-radius: 8rpx;
		padding: 8rpx 16rpx;
		overflow: hidden;
		background: aqua;
		font-size: 32rpx;
	}
}

.city-general {
	.address {
		display: block;
		padding: 12rpx 16rpx;
		font-size: 32rpx;
		color: #000;
		box-sizing: border-box;
	}

	.summary {
		.iconfont{
			font-size: 48rpx;
		}
		.text{
			font-size: 28rpx;
			padding: 10rpx;
		}
	}

	.temp {
		font-size: 120rpx;
		color: #fff;
		line-height: 1;
		.symblo {
			font-size: 36rpx;
			vertical-align: super;
		}
	}

	.update-time {
		position: absolute;
		bottom: 36rpx;
		right: 32rpx;
		font-size: 24rpx;
	}
}


.city-swiper {
	height: calc(100vh - 80rpx);
}



.detail-wrap {
	margin-bottom: 20rpx;
	height: calc(100vh - 600rpx);
}

//
.tmp-status {
	padding-bottom: 20rpx;
	border-bottom: 1rpx solid #000;
}

/* 逐三小时预报 */
.hourly-wrap {
	height: 160rpx;
	width: unset;
	white-space: nowrap;
	margin-bottom: 20rpx;
	border-bottom: 1rpx solid #000;

	.item-hour {
		width: 116rpx;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
}

.hourly-Weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	.iconfont{
		font-size: 48rpx;
		line-height: 1;
	}
	.rainpop {
		display: block;
		font-size: 20rpx;
		width: 100%;
		height: 20rpx;
		line-height: 20rpx;
		text-align: center;
	}
}

/* 未来天气预报 */

.fulture {
	margin-bottom: 20rpx;
}

.fulture-item {
	width: 100%;
	height: 80rpx;
	display: flex;
	flex-direction: row;
	align-items: center;

	.day {
		font-size: 40rpx;
	}

	.weather-Icon-pop {
		flex: 1;
		.iconfont {
			display: block;
			height: 48rpx;
			text-align: center;
			font-size: 48rpx;
			margin-bottom: 12rpx;
		}
		.rainpop {
			display: block;
			height: 20rpx;
			line-height: 20rpx;
			font-size: 20rpx;
			text-align: center;
		}
	}

	.max-tmp {
		width: 100rpx;
		font-size: 36rpx;
		text-align: center;
	}

	.min-tmp {
		width: 100rpx;
		font-size: 36rpx;
		text-align: center;
	}
}
.other-wrap{
	.other-item{
		display: inline-block;
		font-size: 0;
		vertical-align: top;
		width: 50%;
		height: 88rpx;
		
		border-bottom: 1px solid #000;
		.title{
			font-size: 24rpx;
		}
		.msg{
			font-size: 36rpx;
			font-weight: 600;
		}
	}
}

.bottom-operation{
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: 80rpx;
	background-color: tomato;
	.bottom-item{
		width: 64rpx;
		height: 64rpx;
		background-color: #fff;
	}
	.aboutme{
		color: #333;
		font-size: 20rpx;
		text-align: right;
	}
}
