.userCityList{
}
.userCityItem{
	height: 100rpx;
	position: relative;
	border-bottom: 1rpx solid #999;
}
.manage-header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20rpx;
	.managetitle{
		font-size: 40rpx;
		font-weight: 600;
	}
	.managetips{
		color: #999;
		font-size: 24rpx;
	}
}
.city-msg{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
	height: 100%;
	background: #fff;
	padding: 8rpx 16rpx;
	width: 100%;
	transition: all 0.3s linear;
	.name{
		flex: 1;
		font-size: 36rpx;
		margin-right: 40rpx;
		.nametext{
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	.temp {
		font-size: 60rpx;
		line-height: 1;
		.symblo {
			font-size: 36rpx;
			vertical-align: super;
		}
	}
}
.deleteCity{
	z-index: 4;
	background-color: #f55;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 120rpx;
	line-height: 100rpx;;
	text-align: center;
}

.city-footer{
	text-align: right;
	.text{
		font-size: 40rpx;
		vertical-align: sub;
	}
	.iconfont{
		font-size: 56rpx;
		vertical-align: middle;
	}
}
