/* 去除按钮默认样式 */
.remove-btn-default-style{
  border-radius:0;
  background-color: transparent;
  line-height: 1.42857143;
  padding: 0;
  &::after{
    border: none;

  }
}
// .remove-btn-default-style::after{
// }