/* pages/geolocate.wxss */
@mixin hairLine {
	&:after{
		content: "";
		width: 100%;
		height:  1rpx;
		position: absolute;
		right: 0;
		bottom: 0;
		background: #b2b2b2;
	}
}

.geo-container{
  position: relative;
  .search-block{
  }
  .letter-side-bar{
    position: fixed;
    top: 80rpx;
    right: 0;
    background-color: #fff;
    color: #333;
    height: 100vh;
    width: 30rpx;
    z-index: 10;
		text-align: center;
		.letter-item{
			color: #333;
			&.active{
				// color: #4183c4;
				// color: #007afe;
				// color:#1aad16;
				color: #fff;
				background-color: #ccc;
			}
		}
  }
  .city-list-wrapper{
    height: calc(100vh - 80rpx)
  }
}
// 搜索输入框
.search-block{
  height: 80rpx;
  background-color: #fff;
  .search-bar{
    height: 100%;
    display: flex;
    align-items:center;
    // align-items:center; 需要设置高度;否则不生效;
    padding: 0 20rpx;
    z-index: 5;
    position: relative;
		background-color: #fff;
		@include hairLine;
    .search-input-wrap{
      flex: 1;
      border: 1px solid #ddd;
      height: 56rpx;
      border-radius: 12rpx;
      padding-left: 60rpx;
			position: relative;
			background-color: #e8e8e8;
      .search-input{
        padding-right: 60rpx;
        height: 100%;
        display: block;
      }
      .iconfont{
        position: absolute;
        top: 2rpx;
        left: 10rpx;
        color: #999;
        font-size: 36rpx;
      }
    }
    .search-btn{
      text-align: center;
      color: #1aad16;
      height: 100%;
      line-height: 80rpx;
      padding-left: 20rpx;
      display: none;
      &.active{
        display: block;
      }
    }
  }
  .search-mask{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    // background-color: tomato;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    &.active{
      display: block;
    }
	}
	.search-result-list{
		z-index: 5;
		background-color: #fff;
		position: relative;
		height: 560rpx;
		.search-result-item{
			padding: 0 36rpx;
			position: relative;
			@include hairLine;
			text{
				display: block;
			}
			.title{
				font-size: 28rpx;
				color: #333;
			}
			.area{
				font-size: 20rpx;
				color: #999;
			}
			.address{
				font-size: 24rpx;
				color: #666;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
	.search-no-result-list{
		z-index: 5;
		background-color: #fff;
		position: relative;
		display: none;
		padding: 18rpx 36rpx;
		&.active{
			display: block;
		}
	}
}

// 城市列表
.city-list-wrapper{
  .city-list-letter{
    background-color: #ccc;
		padding-left: 36rpx;
		font-size: 32rpx;
		font-weight: 600rpx;
  }
  .city-list-item{
		padding: 18rpx 36rpx;
    position: relative;
    overflow: hidden;
    @include hairLine;
  }
}
